<!DOCTYPE html>
<html lang="en">

<%- include header.ejs %>


    <main class="mx-3 ">
        <div class="container-fluid">

            <h3 class="Accounts my-4 mx-3 card-title">Showing All Accounts <a class="mx-4 btn-floating btn-md purple-gradient"><i class="fa fa-plus fa-1x"></i></a></h3>

            <div class="row mt-2">
                <div class="col-md-9 col-lg-9 pb-5">
                    <div class="row">

                        <div class="col-md-4 col-lg-4 pb-5">
                            <!-- Card -->
                            <div class="card testimonial-card">

                                <!-- Bacground color -->
                                <div class="card-up special-color lighten-1">
                                </div>

                                <!-- Avatar -->
                                <div class="avatar mx-auto white"><img src="../img/logos/kfh.jpg" class="rounded-circle">
                                </div>

                                <div class="card-body">
                                    <!-- Name -->
                                    <h4 class="card-title">Kuwait Finance House</h4>
                                    <p>Savings Account</p>
                                    <!-- Switch -->
                                    <div class="switch round purple-white-switch">
                                        <label class="grey-text">
                                                    Include
                                                    <input type="checkbox" checked="checked">
                                                    <span class="lever"></span>
                                                </label>
                                    </div>

                                    <hr>
                                    <!-- Quotation -->
                                    <h5 class="pink-text text-center my-0 py-0">XX23122XXX</h5><br>
                                    <h4 class="pink-text text-center my-0 py-0">BHD 1532.980</h4>
                                </div>

                            </div>
                            <!-- Card -->
                        </div>

                        <div class="col-md-4 col-lg-4 pb-5">
                            <!-- Card -->
                            <div class="card testimonial-card">

                                <!-- Bacground color -->
                                <div class="card-up special-color lighten-1">
                                </div>

                                <!-- Avatar -->
                                <div class="avatar mx-auto white"><img src="../img/logos/alsalam.jpg" class="rounded-circle">
                                </div>

                                <div class="card-body">
                                    <!-- Name -->
                                    <h4 class="card-title">Al Salam Bank</h4>
                                    <p>Current Account</p>
                                    <!-- Switch -->
                                    <div class="switch round purple-white-switch">
                                        <label class="grey-text">
                                                    Include
                                                    <input type="checkbox" checked="checked">
                                                    <span class="lever"></span>
                                                </label>
                                    </div>

                                    <hr>
                                    <!-- Quotation -->
                                    <h5 class="pink-text text-center my-0 py-0">XX234422XXX</h5><br>
                                    <h4 class="pink-text text-center my-0 py-0">BHD 5433.180</h4>
                                </div>

                            </div>
                            <!-- Card -->
                        </div>

                        <div class="col-md-4 col-lg-4 pb-5">
                            <!-- Card -->
                            <div class="card testimonial-card">

                                <!-- Bacground color -->
                                <div class="card-up special-color lighten-1">
                                </div>

                                <!-- Avatar -->
                                <div class="avatar mx-auto white"><img src="../img/logos/alsalam.jpg" class="rounded-circle">
                                </div>

                                <div class="card-body">
                                    <!-- Name -->
                                    <h4 class="card-title">Al Salam Bank</h4>
                                    <p>Deposit Account</p>
                                    <!-- Switch -->
                                    <div class="switch round purple-white-switch">
                                        <label class="grey-text">
                                                        Include
                                                        <input type="checkbox" checked="checked">
                                                        <span class="lever"></span>
                                                    </label>
                                    </div>

                                    <hr>
                                    <!-- Quotation -->
                                    <h5 class="pink-text text-center my-0 py-0">XX999876XX</h5><br>
                                    <h4 class="pink-text text-center my-0 py-0">BHD 7000.000</h4>
                                </div>

                            </div>
                            <!-- Card -->
                        </div>
                        <div class="col-md-4 col-lg-4 pb-5">
                            <!-- Card -->
                            <div class="card testimonial-card">

                                <!-- Bacground color -->
                                <div class="card-up special-color lighten-1">
                                </div>

                                <!-- Avatar -->
                                <div class="avatar mx-auto white"><img src="../img/logos/kcb.png" class="rounded-circle">
                                </div>

                                <div class="card-body">
                                    <!-- Name -->
                                    <h4 class="card-title">Khaleeji Commercial </h4>
                                    <p>Loan Account</p>
                                    <!-- Switch -->
                                    <div class="switch round purple-white-switch">
                                        <label class="grey-text">
                                                        Include
                                                        <input type="checkbox" checked="checked">
                                                        <span class="lever"></span>
                                                    </label>
                                    </div>

                                    <hr>
                                    <!-- Quotation -->
                                    <h5 class="pink-text text-center my-0 py-0">XX999866XX</h5><br>
                                    <h4 class="pink-text text-center my-0 py-0">BHD 15000.000</h4>
                                </div>

                            </div>
                            <!-- Card -->
                        </div>

                        <div class="col-md-4 col-lg-4 pb-5">
                            <!-- Card -->
                            <div class="card testimonial-card">

                                <!-- Bacground color -->
                                <div class="card-up special-color lighten-1">
                                </div>

                                <!-- Avatar -->
                                <div class="avatar mx-auto white"><img src="../img/logos/amex.png" class="rounded-circle">
                                </div>

                                <div class="card-body">
                                    <!-- Name -->
                                    <h4 class="card-title">American Express</h4>
                                    <p>Credit Card</p>
                                    <!-- Switch -->
                                    <div class="switch round purple-white-switch">
                                        <label class="grey-text">
                                                        Include
                                                        <input type="checkbox" checked="checked">
                                                        <span class="lever"></span>
                                                    </label>
                                    </div>

                                    <hr>
                                    <!-- Quotation -->
                                    <h5 class="pink-text text-center my-0 py-0">XX999866XXXX3XX</h5><br>
                                    <h4 class="pink-text text-center my-0 py-0">BHD 1789.300</h4>
                                </div>

                            </div>
                            <!-- Card -->
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 pb-5">

                    <!-- Card -->
                    <div class="card card-cascade narrower">

                        <!-- Card image -->
                        <div class="view gradient-card-header purple-gradient">

                            <!-- Title -->
                            <h4 class="card-header-title mb-3">Quick Comparison</h4>
                            <!-- Subtitle -->
                            <p class="card-header-subtitle mb-0">Savings interest rates in Bahrain</p>

                        </div>

                        <!-- Card content -->
                        <div class="card-body" style="overflow: auto;">

                            <!--Table-->
                            <table class="table">

                                <!--Table body-->
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Al Salam Bank</td>
                                        <td>5.5 %</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Khaleeji Commercial Bank</td>
                                        <td>7 %</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td> Kuwait Finance House</td>
                                        <td>6 %</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>National Bank of Bahrain</td>
                                        <td>6 %</td>
                                    </tr>

                                </tbody>
                                <!--Table body-->

                            </table>
                            <!--Table-->

                        </div>

                    </div>
                    <!-- Card -->
                    <br>
                    <!-- Card -->
                    <div class="card card-cascade narrower">

                        <!-- Card image -->
                        <div class="view gradient-card-header purple-gradient">

                            <!-- Title -->
                            <h4 class="card-header-title mb-3">Quick Comparison</h4>
                            <!-- Subtitle -->
                            <p class="card-header-subtitle mb-0">Loan interest rates in Bahrain</p>

                        </div>

                        <!-- Card content -->
                        <div class="card-body" style="overflow: auto;">

                            <!--Table-->
                            <table class="table">

                                <!--Table body-->
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Al Salam Bank</td>
                                        <td>10 %</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Khaleeji Commercial Bank</td>
                                        <td>12 %</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td> Kuwait Finance House</td>
                                        <td>9 %</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>National Bank of Bahrain</td>
                                        <td>9 %</td>
                                    </tr>

                                </tbody>
                                <!--Table body-->

                            </table>
                            <!--Table-->

                        </div>

                    </div>
                    <!-- Card -->

                </div>

            </div>
    </main>

    <!--Footer-->
    <footer class="page-footer font-small stylish-color-dark mt-4">
        <!--Copyright-->
        <div class="footer-copyright py-3 text-center">
            © 2018 Copyright:
            <a href="https://mdbootstrap.com/material-design-for-bootstrap/"> Nurture Software Solutions</a>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->

</body>

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="../js/popper.min.js"></script>
<script src="../js/jquery-3.2.1.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="../js/bootstrap.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="../js/mdb.min.js"></script>

<script>
    // Material Select Initialization
    $(document).ready(function() {
        $('.mdb-select').material_select();
        // Data Picker Initialization
        $('.datepicker').pickadate();
    });
    var container = document.querySelector('.custom-scrollbar');
    Ps.initialize(container, {
        wheelSpeed: 2,
        wheelPropagation: true,
        minScrollbarLength: 20
    });
</script>

</html>
